@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body.theme-light {
  background:var(--background-primary);
}

body {
  /* colors */
  --base-background-color:#f6eeee;
  /* headers */
  --h1-color:#907aa9;
  --h1-font:'JetBrains Mono';
  --h1-size: 1.5em;
  --h2-color:#d6817d;
  --h2-font:'JetBrains Mono';
  --h2-size: 1.3em;
  --h3-color:#56949f;
  --h3-font:'JetBrains Mono';
  --h3-size: 1.2em;
  --h4-color:#4c4f69;
  --h4-font:'JetBrains Mono';
  --h4-size: 1.1em;
  --h5-color:#4c4f69;
  --h5-font:'JetBrains Mono';
  --h5-size: 1.1em;
  --h6-color:#4c4f69;
  --h6-font:'JetBrains Mono';
  --h6-size: 1.1em;
  /* background color */
  body.theme-light.markdown-preview-view.markdown-rendered.markdown-preview-section {
    background-color: var(--base-background-color);
  }
  /* content */
  .content {
    max-width: 1000px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    line-height: 1.4;
  }
  /* toc */
  .toc-container {
    max-height: 350px;
  }
}