@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  /* fonts */
  --h-font:'JetBrains Mono';
  --font-size:20px;
  /* image */
  --image-width:100%;
  /* colors */
  --base-background-color:#f6eeee;
  --color-accent: #f5e0dc;
  --link-color:#f5e0dc;
  --link-color-hover:#ffebe7;
  --link-external-color-hover:#ffebe7;
  --text-accent:#f5e0dc;
  /* --text-accent:#888caa; */
  /* tags */
  --tag-radius: 0.4em;
  --tag-padding-x: 0.35em;
  --tag-border-color: #4f4f4f;
  /* callouts */
  --callout-radius: 7px;
  /* headers */
  --h1-color:#d9e0ee;
  --h1-font:var(--h-font);
  --h1-size: 1.5em;
  --h2-color:#d9e0ee;
  --h2-font:var(--h-font);
  --h2-size: 1.3em;
  --h3-color:#d9e0ee;
  --h3-font:var(--h-font);
  --h3-size: 1.2em;
  --h4-color:#d9e0ee;
  --h4-font:var(--h-font);
  --h4-size: 1.1em;
  --h5-color:#d9e0ee;
  --h5-font:var(--h-font);
  --h5-size: 1.1em;
  --h6-color:#d9e0ee;
  --h6-font:var(--h-font);
  --h6-size: 1.1em;
  /* content */
  .content {
    max-width: 1000px;
    margin-left: 0px;
    margin-right: auto;
    font-size: var(--font-size);
    font-family: 'PT Mono', monospace;
    line-height: 1.4;
  }
  a:hover {
    color: var(--link-color-hover);
    text-decoration-line: var(--link-decoration-hover);
  }
  /* images */
  img {
    display: block;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: auto;
    max-width: var(--image-width);
    transition: transform 0.25s ease-out;
    cursor: zoom-in;
  }
  img:hover {
    /* box-shadow: 0 1px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); */
    transform: translate3d(0px, -7px, 0px);
  }
  img:active {
    -webkit-transform: scale(1.4);
    transform: scale(1.3);
  }
  /* toc */
  .toc {
    font-family: 'JetBrains Mono';
  }
  .toc-container {
    max-height: 350px;
  }
  /* backlinks */
  .backlinks {
    font-family: 'JetBrains Mono';
  }
  .no-backlinks-message {
    font-size: 1rem;
    color: var(--text-normal);
  }
  /* removing h1 in embedded notes */
  h1#soobshhenie-1 {
    margin-block-start: 0em;
    display: none;
  }
  /* callouts */
  .callout {
    overflow: hidden;
    border-color: rgba(var(--callout-color), 0.1);
    border-radius: var(--callout-radius);
    background: var(--background-primary);
    margin: 1em 0;
    mix-blend-mode: var(--callout-blend-mode);
    border: solid rgba(var(--callout-color), 0.3);
    padding: var(--callout-padding);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  }
  .callout-title {
    padding: 0.5rem;
    display: flex;
    gap: var(--size-4-1);
    color: rgb(var(--callout-color));
    line-height: var(--line-height-tight);
    background: rgba(var(--callout-color), 0.1);
    border-bottom: dotted rgba(var(--callout-color), 0.5);
    margin-left: -1.5rem;
    margin-top: -0.7rem;
    margin-right: -0.7rem;
  }
  .callout:hover {
    transform: translate3d(1px, -3px, 0px);
    box-shadow: 10px 10px 1px 0px #000000;
  }
  div[class*=language-ad-], div[class*=callout-] {
    font-family:var(--h-font);
    font-size: var(--font-size);
  }
  div[class*=language-ad-] .admonition-title::before, div[class*=callout-] .admonition-title::before {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .admonition-title {
    font-size: var(--font-size);
    font-weight: 700;
    font-family: 'JetBrains Mono';
  }
  .callout-icon .svg-icon {
    color: rgb(var(--callout-color));
    margin-right: 10px;
    scale: 1.3;
  }
      /* warning */
      div.language-ad-warning .admonition-title::before, div.callout-warning .admonition-title::before {
        content: "⚠️";
      }
      div.language-ad-warning, div.callout-warning {
        background-color: #d5763f1a;
      }
      /* done */
      div.language-ad-done .admonition-title::before, div.callout-done .admonition-title::before {
        content: "✔️";
      }
      div.language-ad-done, div.callout-done {
        background-color: #a8c3731a;
      }
      /* example */
      div.language-ad-example, div.callout-example {
        background-color: #9e86c81a;
      }
  /* graph */
  .graph .graph-title {
    background-color: transparent;
  }
  /* Embeded pages */
  .internal-embed .markdown-embed {
    border: dotted var(--text-accent);
    border-radius: 10px;
    padding-top: 1px;
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  }
  .internal-embed .markdown-embed:hover {
    transform: translate3d(1px, -3px, 0px);
    box-shadow: 10px 10px 1px 0px #000000;
  }
  .internal-embed:not([src*="#^"]) .markdown-embed-link {
    right: 0;
    width: 100%;
    margin-right: 0.8rem;
    margin-top: 2.1rem;
  }
  a.tag, .editor .cl-hashtag {
    background-color: var(--tag-background);
    border: var(--tag-border-width) solid var(--tag-border-color);
    border-radius: var(--tag-radius);
    color: var(--text-accent);
    font-size: var(--tag-size);
    text-decoration: var(--tag-decoration);
    padding: var(--tag-padding-y) var(--tag-padding-x);
    line-height: 1;
  }
}